::placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-family: 'Merriweather', serif;
  font-size: 0.9rem;
}

.error {
  font-size: 1rem;
  width: 100%;
  color: red;
}

.weather {
  font-family: 'Merriweather', serif;
  margin-top: 4.5rem;
}

.weatherSearch {
  font-family: 'Merriweather', serif;
}

.searchBox {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-top: 1rem;
}

.searchBox input {
  padding: 0;
  border: none;
  border-radius: 40px;
  outline: none;
  background: none;
  color: whitesmoke;
  font-size: 1rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
}

.searchBox button {
  border: 0px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  margin-left: 0.5rem;
  color: whitesmoke;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.searchBox button:hover {
  background: whitesmoke;
  color: #487eb0;
}


@media (min-width: 499px) {
  .container {
    width: 40%;
  }
}
@media (min-width: 999px) {
  .container {
    width: 40%;
  }
}

@media (min-width: 1299px) {
  .container {
    width: 20%;
  }
}

