.container {
  width: 80%;
  margin: auto;
}

.output_items {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 40px;
}

.output_items h2 {
  margin: auto;
  padding: 1rem;
}

.output_item {
  box-sizing: border-box;
  flex-basis: 45%;
  padding: 1rem;
}

.output_item:last-child {
  flex-basis: 100%;
}

@media (min-width: 499px) {
  .container {
    width: 40%
  }
}
@media (min-width: 999px) {
  .container {
    width: 40%
  }
}

@media (min-width: 1299px) {
  .container {
    width: 20%;
  }
}